<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="! submitted" class="container">
  <form #appForm="ngForm" (submit)="onSubmit()">
    <input [(ngModel)]="model.name" name="name" class="form__name" type="text" />
    <input name="file" type="file" multiple (change)="onFileChange($event.target.files)" />
    <input name="submit" type="submit" />
  </form>
  <p>{{model.name}}</p>
  <div *ngFor="let file of model.filesSrc" ><img width="200px" src="{{file}}" /></div>

</div>

<div *ngIf="submitted" class="container">
  <h1>{{model.name}}</h1>
  <ul *ngFor="let file of model.filesSrc">
   <li><img class="full" src="{{file}}" /></li>
  </ul>
</div>
